doctype html
html
  head
  include ./partials/css

  body
    include ./partials/menu
    div(class="container")
      h3 Monitor History...

      p To Do - Provide historical view of a particular check.

    include ./partials/scripts.pug